<h2>My Groups</h2>
<div *ngIf="authService.hasRole('group_admin')">
  <input [(ngModel)]="newGroupName" placeholder="New Group Name">
  <button (click)="createGroup()" [disabled]="!newGroupName">Create Group</button>
</div>
<ul>
  <li *ngFor="let group of groups">
    {{ group.name }}
    <button (click)="joinGroup(group.id)" *ngIf="!group.members.includes(authService.getUser().id)">Join</button>
    <button (click)="leaveGroup(group.id)" *ngIf="group.members.includes(authService.getUser().id)">Leave</button>
  </li>
</ul>