<h3>Channel {{ channelId }}</h3>

<div #scrollContainer class="chat-box">
  <div *ngFor="let msg of messages">
    <div *ngIf="msg.system" class="system-msg">
      <em>{{ msg.message }}</em>
    </div>

    <div *ngIf="!msg.system" class="user-msg">
      <strong>{{ msg.username }}</strong>:
      <span>{{ msg.message }}</span>
      <small *ngIf="msg.timestamp">({{ msg.timestamp | date:'shortTime' }})</small>
    </div>
  </div>
</div>

<div class="chat-input">
  <input [(ngModel)]="text" placeholder="Type your message..." (keydown.enter)="send()" />
  <button (click)="send()">Send</button>
</div>
